@model Hotel.Models.Customer.IndexViewModel
@{
    Layout = "_Layout";

}


<div style="width: 100%;">
    <table>
        <thead>
            <tr>
                <th style="width: 1%;">No</th>
                <th style="width: 5%;">Action</th>
                <th>Nik</th>
                <th>Nama</th>
                <th>Jenis</th>
                <th>Agama</th>
                <th>KewargaNegaraan</th>
            </tr>
        </thead>

        <tbody>
            @{ int No = 1;}

            @foreach (var item in Model.ListCustomer)
            {
                <tr>
                    <td>@(No++)</td>
                    <td>
                        <button class="Edit-Grid" onclick='index.Edit(event,"@item.Nik")'><i class="fa-solid fa-pencil"></i></button>
                        <button class="Delete-Grid"><i class="fa-solid fa-trash"></i></button>
                    </td>
                    <td>@item.Nik</td>
                    <td>@item.Nama</td>
                    <td>@item.JenisKelamin</td>
                    <td>@item.Agama</td>
                    <td>@item.KewargaNegaraan</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.Hidden("state","")
@section Scripts {

    <script>
        var index = (function ($) {
            var self = this;
            return {
                Create: function (e) {
                    e.preventDefault();
                    $("#state").val("Create");
                    var url = "@Url.Action("Create")";
                    window.location.replace(url);
                },
                Edit: function (e, Nik) {
                    e.preventDefault();
                    console.log(Nik);
                    $("#state").val("Edit");
                    var url = "@Url.Action("Edit")?Nik=" + encodeURIComponent(Nik);
                    window.location.replace(url);
                }

            }

        })(jQuery);

        $(function () {
            $("#toolbarAdd").click(index.Create);

            HotelToolbar.enableAdd();
            console.log("@ViewBag.Success");
            if ("@ViewBag.Success" == "True") {
                iziToast.success({
                    title: 'Success',
                    position: 'center',
                    timeout: 50000,
                    message: "Success"
                });
            }
        })

    </script>
}